<footer class="w-full bg-neutral-800 mt-20 p-2 md:p-4 text-white">
  <h1 class="text-center">I don't know about the copyright</h1>
  <div class="flex flex-col md:flex-row w-full mt-10">
    <div
      class="flex flex-col justify-center md:border-b-0 border-b-2 md:border-r-2 border-white p-2"
    >
      <h2>Web build by Planeta110</h2>
      <a href="https://www.github.com" class="underline">GitHub Proyect</a>
      <a href="https://planeta110.github.io" class="undeline"
        >Planeta Portfolio</a
      >
    </div>
    <div
      class="flex flex-col justify-center md:border-b-0 md:max-w-[400px] border-b-2 md:border-r-2 border-white p-2"
    >
      <h2 class="text-center">
        The icons used to present weather data were obtained from SVGREPO
      </h2>
    </div>
    <div
      class="flex flex-col justify-center md:border-b-0 md:max-w-[400px] border-b-2 md:border-r-2 border-white p-2"
    >
      <h2 class="text-center">
        No responsibility lies with the creator Planeta110 for anything that may
        happen. 
      </h2>
      <h2 class="text-center">
        Data obtained from Open Mateo
      </h2>
    </div>
  </div>
</footer>
