---
import "../global.css";
const { title } = Astro.props;
import Navbar from "../components/nav/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-poppins">
    <Navbar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background: #c4c4c4;
    background: radial-gradient(
      circle,
      rgba(196, 196, 196, 1) 0%,
      rgba(207, 207, 207, 1) 21%,
      rgba(204, 204, 204, 1) 58%,
      rgba(212, 212, 212, 1) 93%,
      rgba(204, 204, 204, 1) 100%
    );
    overflow-y: auto;

    color: black;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
